body {
  background-image: url('https://images.pexels.com/photos/593319/pexels-photo-593319.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 background-size: cover;  /* Adjust this according to your needs */
 background-position: center;  /* Adjust this according to your needs */
 background-repeat: no-repeat;
}
* {
 margin: 0;
 padding: 0;
}


/* Add this CSS to change font text color on hover and active */
.navbar-nav li.nav-item:hover a.nav-link,
.navbar-nav li.nav-item.active a.nav-link {
    color: red;
}

/* Optional: To change the color of the dropdown items on hover */
.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa; /* Change the background color on hover */
    color:red;
}